<%- include("partials/header") %>
    <!-- css -->
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="stylesheet" href="../../css/account.css">
</head>

<body>
    <div class="container">
        <header>
            <h1>Pokédex</h1>
        </header>

        <%- include("partials/nav") %> 

        <main>
            <div class="card">
                <h2>Trainer Card</h2>
                <div class="card__id">
                    <label>ID: </label>
                    <p>0000000</p>
                </div>
                <div class="card__name">
                    <label>Name:</label>
                    <p>Red</p>
                </div>
                <div class="card__pokemon">
                    
                </div>
            </div>
            <nav class="logout">
                <a href="/logout">Log Out</a>
            </nav>
        </main>

<%- include("partials/footer") %> 