<%- include("partials/header") %>
    <!-- css -->
    <link rel="stylesheet" href="../../css/styles.css" />
</head>

<body>
    <div class="container">
        <header>
            <h1>Pokédex</h1>
        </header>

        <%- include("partials/nav") %> 

        <main>

        </main>

<%- include("partials/footer") %> 