<%- include("partials/header") %>
    <!-- css -->
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="stylesheet" href="../../css/error.css">
</head>

<body>
    <div class="container">
        <header>
            <h1>Pokédex</h1>
        </header>

        <%- include("partials/nav") %> 

        <main class="jumbotron">
            <h2 class="error">404</h2>
            <h3 class="error__title">Page Not Found...</h3>
        </main>


<%- include("partials/footer") %> 