<%- include("partials/header") %>
<%- include("partials/nav") %> 
<main>
	<div class="intro">
		<h2>Here, take one of these rare Pokémon...</h2>
	</div>
	<div class="row"></div>
	<div class="row"></div>
	<div class="row"></div>
</main>
<%- include("partials/footer") %>
