<%- include("partials/header") %>
	<!-- css -->
	<link rel="stylesheet" href="css/landing.css">

	<!-- javascript -->
	<script src="js/landing.js"></script>
</head>

	<body>
		<div class="container">
			<header>
				<h1>Pokédex</h1>
			</header>

<%- include("partials/nav") %> 

			<main>
				<div class="intro">
					<h2>Here, take one of these rare Pokémon...</h2>
				</div>
				<div class="row"></div>
				<div class="row"></div>
				<div class="row"></div>
			</main>

<%- include("partials/footer") %>
