<%- include("partials/header") %>
    <script src="../../js/login.js"></script>

    <!-- css -->
    <link rel="stylesheet" href="../../css/styles.css" />
    <link rel="stylesheet" href="../../css/login.css">
</head>

<body>
    <div class="container">
        <header>
            <h1>Pokédex</h1>
        </header>

        <%- include("partials/nav") %> 

        <main>
            <div class="login">
                <h2>Checking Trainer ID...</h2>
                <div class="login__message"></div>
                <div class="login__form">
                    <div class="login__form__input">
                        <label for="name">Username:</label>
                        <input class="username" type="text" name="username" required>
                    </div>
                    <div class="login__form__input">
                        <label for="email">Email:</label>
                        <input class="email" type="email" name="email" required>
                    </div>
                    <div class="login__form__input">
                        <label for="password">Password:</label>
                        <input class="password" type="password" name="password" required>
                    </div>
                    <div class="login__btn">
                        <button onclick="signUp()">Sign Up</button>
                        <button onclick="logIN()">Log in</button>
                    </div>
                </div>
            </div>
        </main>

<%- include("partials/footer") %> 