.card {
    align-items: center;
    border: 1rem double var(--color-txt);
    border-radius: 10px;
    color: var(--color-txt);
    display: flex;
    flex-direction: column;
    margin: 5rem auto;
    padding: 2rem;
    width: 50%;
}

.card__header {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.card__header__types li {
    border: 5px double var(--color-txt);
    border-radius: 16px;
    margin-top: 0.5rem;
    padding: 0.5rem;
    text-align: center;
}

.card__stats {
    margin: 1rem 0;
    width: 100%;
}

.card__stats__stat {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.stat__name, .stat__value {
    display: inline-block;
}

.stat__name {
    width: 45%;
}

.stat__value {
    width: 3rem;
}

.stat__bar, .stat__bar__container {
    border-radius: 3px;
}

.stat__bar {
    background-color: var(--color-txt);
    height: 1rem;
}

.stat__bar__container {
    background-color: rgba(0, 0, 0, 0.5);
    width: 40%;
}

.card__appearance__height p, .card__appearance__weight p {
    margin: 1rem 0;
}

.card__abilities {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    width: 90%;
}

.abilities__ability {
    border: 2px solid var(--color-txt);
    border-radius: 16px;
    margin-top: 0.5rem;
    padding: 0.7rem;
}

.abilities__ability:hover {
    background: var(--color-txt);
    color: var(--color-black);
}

/****** background for different types ******/

.normal {
    background: linear-gradient(90deg,#D3D3D3,#B0B0B0);
}

.fire {
    background: linear-gradient(90deg,#E37C45,#C05820); 
}

.water {
    background: linear-gradient(90deg,#019FDF,#0161C5); 
}

.electric {
    background: linear-gradient(90deg,#E3DE41, #C0BB1C); 
}

.grass {
    background: linear-gradient(90deg,#46E440,#21C11B); 
}

.ice {
    background: linear-gradient(90deg,#8FD0F2,#6BAED0); 
}

.fighting {
    background: linear-gradient(90deg,#DB3C3D,#B91718); 
}

.poison {
    background: linear-gradient(90deg,#9A3CDA,#7617B8); 
}

.ground {
    background: linear-gradient(90deg,#987339,#754E13); 
}

.flying {
    background: linear-gradient(90deg,#45DBD5,#20B9B3); 
}

.psychic {
    background: linear-gradient(90deg,#E9A2EA,#C67EC7); 
}

.bug {
    background: linear-gradient(90deg,#28A62C,#038206); 
}

.rock {
    background: linear-gradient(90deg,#949494,#707070); 
}

.ghost {
    background: linear-gradient(90deg,#BE69DA,#9B44B8); 
}

.dragon {
    background: linear-gradient(90deg,#39AE99,#148B76); 
}

.dark {
    background: linear-gradient(90deg,#172E94,#031562); 
}

.steel {
    background: linear-gradient(90deg,#737373,#4E4E4F); 
}

.fairy {
    background: linear-gradient(90deg,#F5AAE5,#EC8CE5); 
}

@media screen and (max-width: 1275px) {
	.card {
        width: 75%;
    }
}

@media screen and (max-width: 850px) {
    .card {
        width: 90%;
    }
}

@media screen and (max-width: 700px) {
	.card {
        width: 100%;
    }
}

@media screen and (max-width: 630px) {
	.stat__bar, .stat__bar__container {
        display: none;
    }

    .card__abilities {
        flex-direction: column;
    }
}