form {
    color: var(--color-txt);
    margin: 0 auto 5rem;
    text-align: center;
    width: 75%;
}

form input {
    border: 0.5rem double var(--color-black);
    border-radius: 2px;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    width: 40%;
}

small {
    color: var(--color-txt);
    margin-bottom: 1rem;
    text-align: center;
}

.options {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

.type {
    border: 2px solid var(--color-txt);
    border-radius: 5px;
    color: var(--color-txt);
    cursor: pointer;
    opacity: 0.7;
    padding: 0.5rem 1rem;
    width: 10rem;
}

.type:hover {
    opacity: 1;
}

.filtered {
    color: var(--color-txt);
    margin: 2rem auto;
    width: 75%;
}

.filtered tr {
    background: rgba(3, 3, 3, 0.2);
    text-align: center;
}

.filtered tr:hover {
    background: rgba(3, 3, 3, 0.5);
}

.filtered td {
    border-radius: 0.3rem;
    padding: 0.5rem 2rem;
}

.filtered img {
    background: rgba(3, 3, 3, 0.1);
    border-radius: 100%;
    padding: 0 0 1.5rem;
    vertical-align: center;
    width: 7rem;
}


/****** for tablet ******/

@media screen and (max-width: 1024px) {
	.type {
        opacity: 1;
    }

    .filtered {
        width: 90%;
    }

    .filtered img {
        padding: 0 0 0.5rem;
        width: 5rem;
    }
}

/****** for mobile ******/

@media screen and (max-width: 600px) {
    form input {
        margin-bottom: 1rem;
        width: 100%;
    }

    .filtered {
        font-size: 0.7rem;
        width: 100%;
    }

    .filtered td {
        padding: 0.5rem;
    }

    .id {
        display: none;
    }
}
