:root {
    --color-accent: #FFCB05;
    --color-border: #DCDCDC;
    --color-bg: #003A70;
    --color-black: #333;
    --color-shadow: #3D7DCA;
    --color-txt: #f1f1f1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background: var(--color-bg);
    font-family: "Press Start 2P", cursive;
    height: 100vh;
}

button {
    background: var(--color-black);
    border: 2px solid var(--color-txt);
    border-radius: 5px;
    color: var(--color-txt);
    cursor: pointer;
    font-family: "Press Start 2P", cursive;
    padding: 0.9rem 1.4rem;
}

button:hover {
    outline: 2px solid var(--color-accent);
}

h1 {
    font-size: 3rem;
    margin: 1rem 0;
}

a {
    color: var(--color-txt);
}

header, footer {
    color: var(--color-accent);
    display: flex;
    justify-content: center;
    margin: 2rem;
    text-shadow: 2px 2px var(--color-shadow);
}

nav {
    background: var(--color-black);
    border: 0.2rem solid var(--color-border);
    padding: 0.5rem 0;
}

nav ul {
    color: var(--color-txt);
    display: flex;
    justify-content: flex-start;
    padding: 0;
}

nav li {
    padding: 1rem 1.5rem;
}


nav a:hover {
    color: var(--color-accent);
}

nav a:hover::before {
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    border-left: 0.6rem solid var(--color-accent);
    content: "";
    display: inline-block;
    padding-right: 0.3rem;
}

main {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

footer p {
    margin: 3rem 0;
}

.intro {
    color: var(--color-txt);
    line-height: 1.4;
    margin: 3rem;
    text-align: center;
    text-shadow: 2px 2px var(--color-black);
}

/****** background for different types ******/

.normal {
	background: linear-gradient(90deg, #d3d3d3, #b0b0b0);
}

.fire {
	background: linear-gradient(90deg, #e37c45, #c05820);
}

.water {
	background: linear-gradient(90deg, #019fdf, #0161c5);
}

.electric {
	background: linear-gradient(90deg, #e3de41, #c0bb1c);
}

.grass {
	background: linear-gradient(90deg, #46e440, #21c11b);
}

.ice {
	background: linear-gradient(90deg, #8fd0f2, #6baed0);
}

.fighting {
	background: linear-gradient(90deg, #db3c3d, #b91718);
}

.poison {
	background: linear-gradient(90deg, #9a3cda, #7617b8);
}

.ground {
	background: linear-gradient(90deg, #987339, #754e13);
}

.flying {
	background: linear-gradient(90deg, #45dbd5, #20b9b3);
}

.psychic {
	background: linear-gradient(90deg, #e9a2ea, #c67ec7);
}

.bug {
	background: linear-gradient(90deg, #28a62c, #038206);
}

.rock {
	background: linear-gradient(90deg, #949494, #707070);
}

.ghost {
	background: linear-gradient(90deg, #be69da, #9b44b8);
}

.dragon {
	background: linear-gradient(90deg, #39ae99, #148b76);
}

.dark {
	background: linear-gradient(90deg, #172e94, #031562);
}

.steel {
	background: linear-gradient(90deg, #737373, #4e4e4f);
}

.fairy {
	background: linear-gradient(90deg, #f5aae5, #ec8ce5);
}

/****** for tablet ******/

@media screen and (max-width: 1024px) {
	h1 {
        font-size: 2rem;
    }
}

/****** for mobile ******/

@media screen and (max-width: 600px) {
	nav ul {
        display: flex;
        flex-direction: column;
    }

    footer p {
        font-size: 0.8rem;
    }
}
